/myexpensesgui/nbproject/private/
/myexpensesdb/out
/MyExpenses/nbproject/private/
/myexpensesswing/nbproject/private/
/myexpensesdb/nbproject/private/
/myexpensesswing/build/
/myexpensesdb/build/
/myexpensesdb/dist/